.edit{
    width: 100%;
}
.editor-white{
    background-color: rgb(226, 214, 255);
    /* width: 100%; */
    
}
.editor-black{
    background-color: var(--bg-dark);
    /* width: 100%; */

}
#editor-main{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
    
}
.customer{
    display: flex;
}
#nav-item1{
    display: flex;
    align-items: center;
    /* gap: 3rem; */
}
#nav-item1 div{
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.nav-item2{
    display: flex;
    gap: 1rem;
}
.nav-item2 span{
    background-color: rgb(27, 0, 150);
    color: white;
    border-radius: 1rem;
    padding: 0.3rem 1rem;
    font-weight: bold;
    cursor: pointer;
}
/*name*/
#Site-Name-white{
    background: -webkit-linear-gradient(var(--white-theme), var(--white-theme-light));
    -webkit-background-clip: text;
    font-size: 2rem;
   
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}
#Site-Name-dark{
    background: -webkit-linear-gradient(var(--dark-theme), var(--dark-theme-light));
    -webkit-background-clip: text;
    font-size: 2rem;
    font-weight: bolder;
    -webkit-text-fill-color: transparent;
}
/*btns*/
.cards{
    gap: 2rem;
    display: block;
}

.cards .btn2{
    font-style: italic;
    font-weight: bold;
   display: flex;
   gap: 0.4rem;
    border: none;
    cursor: pointer;

    padding: 0.3rem 2rem;
    border-radius: 1rem;
    background-color: gold;
    color: rgb(0, 0, 0);
    box-shadow: 0.1px 0.1px 10px  rgb(126, 109, 1), -3px -3px 1px  rgb(104, 108, 0);


}
.cards .btn1{
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    background-color: rgb(0, 255, 162);
    color: rgb(0, 0, 0);
    box-shadow: 0.1px 0.1px 3px  rgb(0, 66, 40), -3px -3px 1px  rgb(0, 86, 69);
}
.cards .btn1:hover{
    background-color: rgb(66, 0, 166);
    box-shadow: 0.1px 0.1px 3px  rgb(14, 0, 166), -3px -3px 3px  rgb(64, 0, 166);

    color: white;
}
.cards .btn2:hover{
    background-color: rgb(255, 145, 0);
    box-shadow: 0.1px 0.1px 10px rgb(255, 145, 0), -3px -3px 3px  rgb(255, 145, 0);

    color: white;
}
/*card2*/
.cards-2{
    gap: 2rem;
    /* display: block; */
}
.cards-2 .btn2{
    font-style: italic;
    font-weight: bold;
   display: flex;
   gap: 0.4rem;
    border: none;
    cursor: pointer;

    padding: 0.3rem 2rem;
    border-radius: 1rem;
    background-color: gold;
    color: rgb(0, 0, 0);
    box-shadow: 0.1px 0.1px 10px  rgb(126, 109, 1), -3px -3px 1px  rgb(104, 108, 0);


}
.cards-2 .btn1{
    display: flex;
    gap: 0.4rem;
    cursor: pointer;
    font-style: italic;
    font-weight: bold;
    border: none;
    padding: 0.3rem 2rem;
    border-radius: 1rem;
    background-color: rgb(0, 255, 162);
    color: rgb(0, 0, 0);
    box-shadow: 0.1px 0.1px 3px  rgb(0, 66, 40), -3px -3px 1px  rgb(0, 86, 69);
}
.cards-2 .btn1:hover{
    background-color: #2c00a6;
    box-shadow: 0.1px 0.1px 3px  rgb(39, 0, 166), -3px -3px 3px  rgb(0, 14, 166);

    color: white;
}
.cards-2 .btn2:hover{
    background-color: rgb(255, 145, 0);
    box-shadow: 0.1px 0.1px 10px rgb(255, 145, 0), -3px -3px 3px  rgb(255, 145, 0);

    color: white;
}


.edit-section-white{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgb(247, 236, 255);
}
.edit-section-black{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-color: rgb(45, 45, 45);
}


.footer-white{
    display: flex;

    color: white;
    background: linear-gradient(90deg, rgb(68, 21, 83) 15%, rgb(62, 0, 78) 87%);
}
.footer-dark{
    display: flex;

    color: white;
    background: linear-gradient(90deg, rgb(21, 15, 57) 15%, rgb(4, 20, 51) 87%);
}

@media screen and (min-width:700px) and (max-width:2000px){
  .cards-2{
    display: none;
  }
  .edit-section-white{
    padding: 3rem 0rem;
  }
  .edit-section-black{
    padding: 3rem 0rem;
  }
  #Site-Name-white{
    font-size: 1.6rem;
}
#Site-Name-dark{
    font-size: 1.6rem;
}

}
@media screen and (min-width:300px) and (max-width:700px){
    #Site-Name-white{
        font-size: 1rem;
    }
    #Site-Name-dark{
        font-size: 1rem;
    }
 #nav-item1 .cards{
    display: none;
 }
 .cards-2{
    display: block;
 }
 .cards-2{
    display: flex;
    justify-content: center;
    padding: 2rem;
 }
 .edit-section-white{
    padding: 1rem 0rem;
  }
  .edit-section-black{
    padding: 1rem 0rem;
  }
 #cards2-white{
    background-color: rgb(247, 236, 255);
    
 }
 #cards2-dark{
    background-color: rgb(45, 45, 45);

    
 }
}